# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular Languages of Data Science
- Commonly used libraries
- Popular Data Science Tools
- Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Matplotlib

| Data Science Tools |
|--------------------|
| Apache Spark |
| Jupyter Notebook |
| Julia |

### Below are a few examples of evaluating arithmetic expressions in Python.
- Addition
- Subtraction
- Multiplication
- Division
- Modulus

### This a simple arithmetic expression to mutiply then add integers.

In [7]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60.

In [14]:
print(200/60)

3.3333333333333335

## Author
Serkan BayramoÄŸlu